.contenedorBotones {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0 10px;
}

#container-home{
    padding: 5rem;
    text-align: -webkit-center;
}